body {
  font-family: $font-family-body;
  color: $color-d;
  font-size: 14px;
}
* {
  @include box-sizing;
}
a {
  color: inherit;
  line-height: 0;
  text-decoration: none;
  &:hover {
    @include transition(all 400ms);
    text-decoration: none;
    color: $color-1;
  }
  &:focus {
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5, h5, h6 {
  font-family: $font-title;
  // text-transform: uppercase;
}
img {
  max-width: 100%;
}
li,ol {
  list-style: none;
  &:focus {
   border-color: $color-a;
  }
}
button, input, a, .btn {
  &:focus {
    outline: none;
  }
}
//
// ::-webkit-scrollbar {
//     width: 12px;
// }
// ::-webkit-scrollbar-track {
//     background-color: $color-5;
//     border-left: 1px solid $color-5;
// }
// ::-webkit-scrollbar-thumb {
//     background-color: $color-4;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background-color: $color-4;
// }
