
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  box-sizing: $type;
}
@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  -o-box-shadow: $string;
  box-shadow: $string;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin tab_hover_border($bgrcolor) {
  border-color: $bgrcolor transparent transparent transparent;
}
@mixin tab_hover_backgr($bordercolor) {
  background-color: $bordercolor;
}

$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1024px;

@mixin mobile {
     @media (max-width: #{$mobile-width}){
        @content;
    }
}
@mixin tablet{
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin desktop {
     @media (min-width: #{$tablet-width}){
        @content;
    }
}
