// **********************************
//   font-face
// **********************************
@font-face {
  font-family: 'iCielEffra';
  src: url('../fonts/iCielEffra-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
// **********************************
//   font-family
// **********************************
$font-family-body: 'iCielEffra', sans-serif;
$font-title: 'iCielEffra', sans-serif;
$font-link: 'Roboto', sans-serif;
$font-awesome: "FontAwesome";
// **********************************
//   COLOR
// **********************************
// Brand Color
$color-1: #3ba820;
$color-2: #40abd9;
$color-2hv: #2B75B3;
$color-3: #f3f3f3;
$color-4: #898989;
$color-5: #dbdbdb;
$color-6: #292c36;
$color-7: #f26522;
$color-8: #1b4f66;

// Application Color
$color-o: #000000;
$color-a: #ffffff;
$color-b: #E5E5E5;
$color-d: #58595b;
$color-e: #d0054e;
$color-f: #636363;
$color-g: #838383;
$color-h: #c6c6c6;
$color-i: #ff0000;
$color-j: #8b8b8b;
$color-k: transparent;
