.wrap {
	@extend %clearfix;
	width: 100%;
	margin: auto;
	.container {
		@extend %clearfix;
		max-width: 1170px;
		width: 100%;
		margin: auto;
	}
}
.content {
	// margin: 0 -15px;
	@extend %clearfix;
	width: 100%;
	margin: auto;
}
.primary-text {
	color: $color-1;
}
.title-section {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	h1 {
		color: $color-1;
	}
	h2 {
		padding: 20px;
		color: $color-o;
	}
}
.img-responsive{
	width: 100%;
}
.tinhve-inc {
	color: $color-7;
}
